@import url(/static/bariol/stylesheet.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);
@font-face {
    font-family: "VCR_OSD_MONO_1";
    src: url('/static/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}

/* Remove scrollbar (it's ugly on Windows) */
::-webkit-scrollbar {
    width: 0px;
}

/* Global variables */
:root {
    --header-height-desktop: 90vh;
    --header-height-mobile: 85vh;

    --menu-width: min(50%, 1280px);
    --card-header-height: 316px;
    --card-hover-distance: 20px;

    --card-footer-padding-x: 1rem;
    --card-footer-padding-y: 0.25rem;
    --card-footer-fontsize: 0.7rem;
}

html {
    background-color: #000;
    overflow-y: scroll;
}

body {
    font-family: 'bariol_regularregular', Helvetica, Arial, sans-serif;
    background-color: #1b1b1b;
    color:      #111;
    margin:     0px;
    padding:    0px;
    font-size:  0.36cm;
}

strong {
    font-weight:    normal;
    font-family:    'bariol_boldbold';
    letter-spacing: 1px;
}

b {
    letter-spacing: 0.5px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.hidden {
    display: none;
}

@media (min-width: 768px) {

    .hidden-on-desktop {
        display: none !important;
    }

}

@media (max-width: 768px) {
    
    .hidden-on-mobile {
        display: none !important;
    }
}


/************************************************************************/
/*******************************  SPLASH  *******************************/
/************************************************************************/




/************************************************************************/
/*******************************  HEADER  *******************************/
/************************************************************************/

#webgl-canvas {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#webgl-font {
    display: none;
}

#header {
    font-family: 'VCR_OSD_MONO_1', Arial, sans-serif;
    color: #fff;
    overflow: hidden;
    height: var(--header-height-desktop);
}

#menu {
    /* NOTE: These positions/dimensions are based upon the height of #header */
    position: absolute;
    /* background-color: #0bb99480; /* DEBUG */
    width: var(--menu-width);
    height: calc(var(--header-height-desktop) * 0.6);
    left: calc(25% + calc((50% - var(--menu-width)) / 2));
    top: 11.5%;
    z-index: 1;
}

#header-video-container {
    position: absolute;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.menu-heading {
    font-size: 3vw;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 1%;
}

.menu-items {
    position: absolute;
    width: 53%;
}

.menu-items a {
    margin-bottom: 1.5vh;
    color: #fff;
    display: block;
    overflow: hidden;
}

.menu-items a:hover {
    color: #0000e6;
    background-color: #fff;
    cursor: pointer;
}

.menu-upper {
    top: 25%;
    left: 25%;
    font-size: min(3vh, 2.5vw);
    overflow-y: scroll;
    max-height: 25vh;
}

.menu-upper::-webkit-scrollbar { 
    width: 20px; 
} 

.menu-upper::-webkit-scrollbar-track { 
    background: #0000e6;
} 

.menu-upper::-webkit-scrollbar-thumb { 
    background: #fff; 
}

.menu-lower {
    bottom: 15%;
    left: 25%;
    text-align: center;
    font-size: min(4vh, 3.5vw);
}

#header-porftolio-buffer {
    height: 5vh;
    background-image: linear-gradient(0deg, #1b1b1b 5%, #000 100%);
}

@media (max-width: 768px) {

    #header {
        height: var(--header-height-mobile);
    }

    #header-video-container {
        display: none;
    }

    #menu {
        /* NOTE: These positions/dimensions are based upon the height of #header */
        /* background-color: #2261b380; /* DEBUG */
        height: min(calc(var(--header-height-mobile) * 0.6), 60%);
        left: 1%;
        width: 98%;
    }

    .menu-heading {
        font-size: 8vw;
        top: 5%;
    }

    .menu-upper {
        top: 28%;
        font-size: 6vw;
    }
    
    .menu-lower {
        font-size: 7vw;
        bottom: 10%;
    }
}


/***************************************************************************/
/*******************************  PORTFOLIO  *******************************/
/***************************************************************************/

#portfolio {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size:  0.75rem;
    -webkit-text-stroke: 0;
    min-height: 90vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: min-content;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    min-width: 416px;
    max-width: 416px;
    background-color: #FFF;
    margin: 2vh 1vw 2vh 1vw;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,.4), 0 4px 8px rgba(0,0,0,.15);
    cursor: pointer;
    transition: all .1s;
    top: 0px;
    position: relative;
    color: #212529;
}

.card-header {
    overflow: hidden;
}

.card-video {
    max-width: 101%;
    margin-right: -1px;
    margin-left: -1px;
    margin-top: -2px;
    scale: 101%;
    z-index: 0;
}

.card-figure {
    width: 100%;
    height: 100%;
    min-height: var(--card-header-height);
    z-index: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-body {
    position: relative;
    padding: 0.75rem 1rem 1rem 1rem;
    margin-bottom: calc(var(--card-footer-fontsize) + calc(var(--card-footer-padding-y) * 3));
}

.card-body h1 {
    font-size: 2vh;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.card-body p {
    margin-top: 0;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card-footer {
    background-color: rgba(33, 37, 41, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.175);
    padding: var(--card-footer-padding-y) var(--card-footer-padding-x);
    color: rgba(33, 37, 41, 0.75);
    font-size: var(--card-footer-fontsize);
    position: absolute;
    bottom: 0;
    width: calc(100% - calc(var(--card-footer-padding-x) * 2));
}

.text-highlight {
    color: #1d418c;
    font-weight: bold;
}

@media (min-width: 768px) { 
    /* Desktop */
    .card {
        filter: url("filters.svg#grayscale");     /* Firefox 3.5+ */
        filter: gray;                           /* IE6-9 */
        -webkit-filter: grayscale(80%);           /* Chrome 19+ & Safari 6+ */
    }

    .card:hover {
        top: calc(var(--card-hover-distance) * -1);
        filter: none;
        -webkit-filter: grayscale(0%);
    }

    .card:hover:after {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        bottom: calc(var(--card-hover-distance) * -1);
        height: var(--card-hover-distance);
    }
}

@media (max-width: 1900px) {
    #portfolio {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 1450px) {
    #portfolio {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 950px) {
    #portfolio {
        grid-template-columns: auto;
    }

    .card {
        min-width: 160px;
        max-width: 516px;
    }

    .card-body h1 {
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    /* Phone */
}
