@import url(/static/bariol/stylesheet.css);

html {
    overflow-y: scroll;
}

/* Remove scrollbar (it's ugly on Windows) */
::-webkit-scrollbar {
    width: 0px;
}

body {
    font-family: 'bariol_regularregular', Helvetica, Arial, sans-serif;
    background-color: #e8e8e8;
    color:      #111;
    margin:     0px;
    padding:    0px;
    font-size:  10pt;
}

strong {
    font-weight:    normal;
    font-family:    'bariol_boldbold';
    letter-spacing: 1px;
}

b {
    font-family: 'bariol_boldbold';
    letter-spacing: 0.5px;
}

a.black:link, a.black:visited, a.black:hover, a.black:active {
    text-decoration: none;
    color: #111;
    font-family: 'bariol_boldbold';
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

button.navbar-toggler:focus {
    outline: 1px none;
}

ul, ol {
    list-style:     circle;
    padding-inline-start: 13px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#pageholder {
    margin:        auto;
    margin-top:    20px;
    margin-bottom: 20px;
    padding-top:   30px;
    padding-bottom: 1cm;
    min-width:     21cm;
    max-width:     26cm;
    background-color: #fff;
    border-radius:    6px;
}

#toptext {
    padding-left:   100px;
    margin-bottom:  30px;
    font-size:  1.25cm;
    color:      #333333;
}

.content {
    color:          #111;
    padding-bottom: 15px;
}

.bio {
    font-size:  11pt;
}

.theme {
    color:          #666666;
    text-align:     center;
    font-size:      12pt;
    letter-spacing: 1px;
}

.date {
    color: #666666;
    font-size: 11pt;
    font-family: 'bariol_boldbold';
    letter-spacing: 0.5px;
}

/* Phone */
@media (max-width: 768px) {

    #pageholder {
        min-width:      0;
        margin-top:     0;
        margin-bottom:  0;
    }

    #toptext {
        padding-left:   10%;
        font-size:      1cm;
    }

    .theme {
        font-size:      1.2em;
        text-align:     center;
        margin-bottom:  10px;
        margin-top:     20px;
    }

}
