@import url(/static/noway_regular/stylesheet.css);

html {
}

body {
    font-family: Helvetica, 'nowayregular', Arial, sans-serif;
    background-color: #e8e8e8;
    color:      #111;
    margin:     0px;
    padding:    0px;
    font-size:  0.36cm;
}

header {
    background-color:  #282828;
    height:     40px;
}

#pageholder {
    position:    absolute;
    margin-left: 15%;
    width:       70%;
    background-color: #fff;
}

#toptext {
    padding-left:   180px;
    font-size:  1.00cm;
    color:      #333333;
}

#content {
    color:  #636363;
}

#theme {
    color:  #e2e2e2;
}
