/*@import url(/static/noway_regular/stylesheet.css);*/
@import url(/static/bariol/stylesheet.css);

strong {
    font-weight: normal;
    font-family: 'bariol_boldbold';
    letter-spacing: 1px;
}

b {
    letter-spacing: 0.5px;
}

html {
}

body {
    font-family: 'bariol_regularregular', Helvetica, Arial, sans-serif;
    background-color: #e8e8e8;
    color:      #111;
    margin:     0px;
    padding:    0px;
    font-size:  0.36cm;
    -webkit-text-stroke: 0.6px;
}

header {
    background-color: #282828;
    height:           40px;
}

a.blue:link, a.blue:visited, a.blue:hover, a.blue:active {
    color: #0061ff;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: #111;
    text-decoration: none;
}

.levelBlock {
    width:   90px;
    display: inline-block;
}

.dateBlock {
    width:   80px;
    display: inline-block;
}

.dateBlockSmall {
    width:   37px;
    display: inline-block;
}

ul, ol {
    list-style: circle;
}

.no-point {
    list-style: none;
}

#pageholder {
    margin:        auto;
    margin-top:    20px;
    margin-bottom: 20px;
    padding-top:   30px;
    padding-bottom: 1cm;
    width:            21cm;
    background-color: #fff;
    border-radius:    6px;
}

#toptext {
    padding-left:   100px;
    margin-bottom:  30px;
    font-size:  0.90cm;
    color:      #333333;
}

#content {
    color:          #111;
    padding-bottom: 15px;
}

#theme {
    padding-left: 20px;
    color:        #666666;
    letter-spacing: 1px;
}

#date {
    /* text-align:    right; */
    padding-right: 30px;
}

#text {
    padding-bottom: 7px;
}

/* Phone adjustments */
@media (max-width: 768px) {

    body {
        font-size: 1em;
    }

    #pageholder {
        width:          96%;
        margin-top:     3%;
        margin-bottom:  3%
    }

    #toptext {
        padding-left:   10%;
        font-size:      0.7cm;
    }

    #theme {
        font-size:      1.2em;
        padding-left:   50px;
        margin-bottom:  10px;
        margin-top:     20px;
    }

    #date {
        word-spacing:   2px;
        padding-right:  5px;
    }

    #text {
        padding-bottom: 0px;
    }

}
