@import url(/static/noway_regular/stylesheet.css);

html {
}

body {
    font-family: Helvetica, 'nowayregular', Arial, sans-serif;
    background-color: #d1d1d1;
    color:      #e2e2e2;
    margin:     0px;
    padding:    0px;
    font-size:  18px;
    width:      900px;
}

header {
    background-color:   #282828;
    height:             40px;
}

#toptext {
    padding-left:   180px;
    font-size:      20px;
    color:          #333333;
}

#content {
    padding-left:   80px;
    padding-right:  80px;
    color:          #636363;
}

#section {
    width:      80px;
    height:     100%;
    margin-bottom:      15px;
    text-decoration:    bold;
}

#date {
    width:      80px;
}

#text {
    width:      100%;
}

a {
    color:      #e2e2e2;
    text-decoration: none;
}
