<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lars Andersson</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    </head>
    <body>

        <div id="toptext">Lars Andersson</div>
        <div id="content">
            <div id="section">bio</div>
                <div id="text">
                    I am 25 years old, currently studying Computer Engineering at Chalmers University of
                    Technology, in Gothenburg. I am interested in technology, software development and graphics
                    design. I spend a lot of my free time on one of my biggest passions; game development.

                    <!--  Add phone and email  -->

                </div>
        </div>
        <div id="content">
            <div id="">experience</div>
                <div id="date">2018 - Current</div>
                <div id="text">
                    Teacher's assistant for the course <i>LET626 - Introduction to Real-Time
                    Systems</i> at Chalmers University of Technology.
                </div>
        </div>

        <!--
        <iframe src="http://docs.google.com/gview?url=http://larsandersson.info/static/content/cv.pdf&embedded=true" style="width:100%; height:1200px;" frameborder="0"></iframe>
        -->


        <!--
        <footer>
        </footer>
        -->
    </body>

</html>
