<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lars Andersson</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- GOOGLE ANALYTICS -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46921147-5"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-46921147-5');
        </script>

    </head>
    <body>
        <div id="pageholder">

            <div id="toptext"><b>Lars Andersson</b></div>

            <!-- BIO -->
            <div id="content" class="container-fluid">
                <div id="theme" class="col-xs-2"><b>bio</b></div>
                    <div id="text" class="col-xs-10">
                        I am 25 years old and currently studying Computer Engineering at Chalmers University of
                        Technology, in Gothenburg. I am interested in technology, software development and graphics
                        design. I spend a lot of my free time on one of my biggest passions; game development.
                    </div>
                    <!-- PHONE -->
                <div id="theme" class="col-xs-2"></div>
                <div class="col-xs-1">tel:</div>
                    <div id="text" class="col-xs-9">
                        +46 (0)76 804 19 65
                    </div>
                    <!-- EMAIL -->
                <div id="theme" class="col-xs-2"></div>
                <div class="col-xs-1">email:</div>
                    <div id="text" class="col-xs-9">
                        laranda@student.chalmers.se
                    </div>

            </div>

            <!-- EXPERIENCE -->
            <div id="content" class="container-fluid">
                <!-- REAL-TIME SYSTEMS -->
                <div id="theme" class="col-xs-2"><b>experience</b></div>
                    <div id="date" class="col-xs-2">2018 - Current</div>
                    <div id="text" class="col-xs-8">
                        Teacher's assistant for the course <i>LET626 - Introduction to Real-Time
                        Systems</i> at Chalmers University of Technology
                    </div>
                <!-- COMPUTER ENGINEERING -->
                <div id="theme" class="col-xs-2"></div>
                    <div id="date" class="col-xs-2">2017 - Current</div>
                    <div id="text" class="col-xs-8">
                        Teacher's assistant for the course <i>LEU432 - Introduction to Computer
                        Engineering</i> at Chalmers University of Technology
                    </div>
                <!-- ARLA -->
                <div id="theme" class="col-xs-2"></div>
                    <div id="date" class="col-xs-2">2016</div>
                    <div id="text" class="col-xs-8">
                        Machine Operator at Arla Foods Falkenberg
                    </div>
                <!-- ELDERLY CARE -->
                <div id="theme" class="col-xs-2"></div>
                    <div id="date" class="col-xs-2">2015</div>
                    <div id="text" class="col-xs-8">
                        Elderly care, with delegated medicine dispensation at Rolfstorps
                        Hemtjänst
                    </div>
            </div>

            <!-- EDUCATION -->
            <div id="content" class="container-fluid">
                <div id="theme" class="col-xs-2"><b>education</b></div>
                <!-- CHALMERS -->
                <div id="date" class="col-xs-2">2016 - Current</div>
                    <div id="text" class="col-xs-8">
                        Chalmers University of Technology, Gothenburg.</br>
                        <i>Computer Engineering</i>
                    </div>
                <!-- JU -->
                <div id="theme" class="col-xs-2"></div>
                <div id="date" class="col-xs-2">2013 - 2014</div>
                    <div id="text" class="col-xs-8">
                        Jönköping University</br>
                        <i>Introductory year</i> – Mathematics, Physics and Chemistry
                    </div>
            </div>

            <!-- PROJECTS -->
            <div id="content" class="container-fluid">
                <div id="theme" class="col-xs-2"><b>projects</b></div>
                <!-- CHALMERS -->
                <div id="date" class="col-xs-2">2018</div>
                    <div id="text" class="col-xs-8">
                        Shape Arena</br>
                        Agar.io inspired Java multiplayer game developed in a team of five, as
                        a project in the course <i>DAT055 - Object oriented applications</i></br>
                        <a class="blue" href="https://github.com/babaganosch/ShapeArena" >GitHub Repository</a>
                    </div>
                <div id="theme" class="col-xs-2"></div>
                <!-- MINECART MANIAC -->
                <div id="date" class="col-xs-2">2017</div>
                    <div id="text" class="col-xs-8">
                        Minecart Maniac</br>
                        Android game, inspired by games such as Flappy Bird or Temple Run</br>
                        <a class="blue" href="https://play.google.com/store/apps/details?id=com.LandalaStudios.MinecartManiac" >Minecart Maniac at GooglePlay Store</a>
                    </div>
                <div id="theme" class="col-xs-2"></div>
                <!-- SAUSAGE CLOTHING -->
                <div id="date" class="col-xs-2">2014</div>
                    <div id="text" class="col-xs-8">
                        Sausage Clothing</br>
                        Self-designed clothing and various other projects</br>
                        <a class="blue" href="https://sausageclothing.se" >www.sausageclothing.se</a>
                    </div>
            </div>

            <!-- TECHNICAL -->
            <div id="content" class="container-fluid">
                <div id="theme" class="col-xs-2"><b>technical</b></div>
                <!-- LANGUAGES -->
                <div class="col-xs-2"><b>Languages</b></div>
                    <div class="col-xs-8">
                    GML, HTML + CSS, PostgreSQL, Java, C
                    </div>
                <!-- ENVIROMENTS -->
                <div id="theme" class="col-xs-2"></div>
                <div class="col-xs-2"><b>Enviroments</b></div>
                    <div id="text" class="col-xs-8">
                    Windows, Linux, OS X, Illustrator, Photoshop, Eclipse, Git
                    </div>
                <div id="theme" class="col-xs-2"></div>
                <!-- I ENJOY -->
                <div class="col-xs-10">I enjoy, and have ease of, learning new technologies.</div>
            </div>

            <!-- REFERENCES -->
            <div id="content" class="container-fluid">
                <div id="theme" class="col-xs-2"><b>references</b></div>
                <div class="col-xs-10">References available upon request.</div>
            </div>

            <!-- SOCIAL -->
            <div id="content" class="container-fluid">
                <div id="theme" class="col-xs-2"><b>social</b></div>
                <div class="col-xs-2"><b>Twitter</br>GitHub</b></div>
                <div class="col-xs-8"><a href="https://twitter.com/babaganosch" >twitter.com/babaganosch</a></br>
                                      <a href="https://github.com/babaganosch" >github.com/babaganosch</a></div>
            </div>

        </div>
    </body>

</html>
